Q1. Create one variable containing following type of data: (i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
a = ["Hello", [1,2,3], 4.6, ('apple', 'mango', 'orange')]

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [5]:
var1 = ' '

In [6]:
var2 = '[ DS , ML , Python]'

In [8]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [9]:
var4 = 1

var1 - string,
var2 - string,
var3 - list,
var4 - integer

Q3. Explain the use of the following operators using an example:

1) / Division 
2) % Modulus
3) // Floor division
4) ** Exponentiation

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [16]:
b = [1, 2.3, 3+4j, "Hello", ('apple', 'mango', 'orange'), ['bat', 'ball', 'stumps'], True, {"name" : "Ram", "age" : 26}, {'water', 'fire'}, None]
for i in b:
    print(i)
    print(type(i))

1
<class 'int'>
2.3
<class 'float'>
(3+4j)
<class 'complex'>
Hello
<class 'str'>
('apple', 'mango', 'orange')
<class 'tuple'>
['bat', 'ball', 'stumps']
<class 'list'>
True
<class 'bool'>
{'name': 'Ram', 'age': 26}
<class 'dict'>
{'water', 'fire'}
<class 'set'>
None
<class 'NoneType'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [19]:
a = int(input("Enter number a: "))
b = int(input("Enter number b: "))
temp = a
count = 0

while a % b == 0:
    count +=1
    a = a / b

    
if a == 1:
    print(f" {temp} is purely divisible by number {b} and can be divided {count} times.")
else:
    print(f" {temp} is not purely divisible by {b}")

Enter number a:  16
Enter number b:  4

 16 is purely divisible by number 4 and can be divided 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [22]:
l = [1,3,7,9,11,15,17,25,27,34,36,40,44,47,51,55,59,60,65,68,71,72,77,83,84]

for i in l:
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
3 is divisible by 3
7 is not divisible by 3
9 is divisible by 3
11 is not divisible by 3
15 is divisible by 3
17 is not divisible by 3
25 is not divisible by 3
27 is divisible by 3
34 is not divisible by 3
36 is divisible by 3
40 is not divisible by 3
44 is not divisible by 3
47 is not divisible by 3
51 is divisible by 3
55 is not divisible by 3
59 is not divisible by 3
60 is divisible by 3
65 is not divisible by 3
68 is not divisible by 3
71 is not divisible by 3
72 is divisible by 3
77 is not divisible by 3
83 is not divisible by 3
84 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Immutable Data Types:

Immutable data types are those whose values cannot be changed after they are created.

Immutable Data Types:

Immutable data types are those whose values cannot be changed after they are created.

In [24]:
#example of Immutable data type

t = (1,2,3)
t[0] = 4

TypeError: 'tuple' object does not support item assignment

In [25]:
#example of Mutable data type

l = [1,2,3]
print(l)
l[0] = 4
print(l)

[1, 2, 3]
[4, 2, 3]